.v-form {
    &__instance {
        
        position: relative;
        display: block;
        float: left;

        width: 100%;

        padding: 0;

        @include breakpoint($break-xs) {
            padding: 0 4px;
        }
        @include breakpoint($break-md) {
            padding: 0 6 px;
        }

    }
    &__header,
    &__footer,
    &__content,
    &__submit,
    &__error-message {
        display: block;
        float: left;
        width: 100%;
    }
    &__header {
        h2 {
            margin: 0 0 30px;
            color: $c-headlines;
            font-family: $f-primary;
            font-size: 18px;
            text-transform: uppercase;
        }
    }
    &__footer {
        font-family: $f-body;
        font-size: 15px;
        color: #8e8c8c;
        padding: 8px 0;

        .v-form__notes {
            margin: 0;
            line-height: 23px;
        }
    }
    &__content {
        .v-input__instance {
            display: block;
            width: 100%;
            margin-bottom: 12px;

            @include breakpoint($break-xs) {
                margin-bottom: 8px;
            }
            @include breakpoint($break-md) {
                margin-bottom: 6px;
            }

        }
    }
    &__submit {
        text-align: center;
        @include breakpoint($break-xs) {
            text-align: left;
        }
        button {
            width: 100%;
        }
    }
    &__error-message {

        background-color: #c41b37;
        border-radius: 4px;
        padding: 12px 6px;
        margin-bottom: 10px;
        position: relative; 

        ul {
            margin: 0;
        }

        li {
            color: #fff;
            font-family: $f-primary;
            font-size: 13px;
        }

    }

}