.offcanvas-basket {
    &__line {
        display: grid;
        width: 100%;
        grid-template-rows: auto;
        grid-template-columns: 75px auto 55px 40px;

        .line {
            &__description,
            &__quantity,
            &__price,
            &__image {
                align-self: center;
            }
            &__description,
            &__quantity,
            &__price {
                font-family: $f-primary;
                color: $c-secondary;
                font-size: 14px;
            }
            &__image {
                display: flex;
                
                img {
                    align-self: center;
                    object-fit: cover;
                    width: 54px;
                    height: 54px;
                    border-radius: 4px;
                }
            }
            &__quantity {
                text-align: center;
            }
            &__price {
                text-align: right;
                font-weight: bold;
            }
            &__remove {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                i {
                    position: relative;
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    background: $c-primary;
                    text-align: center;
                    line-height: 20px;
                    font-size: 12px;
                    color: #fff;
                    
                }

            }
        }

        padding: 16px 8px;

        &:first-child {
            padding-top: 0;
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid rgb(228, 228, 228);
        }
    }
}
.offcanvas {
    &__basket { 
        height: calc(100% - 159px);
    }
    &__footer {
        .btn {
            width: 100%;
            text-align: center;
        }
    }
}