.infobar {
    
    &--desktop {
        display: none;
        @include breakpoint($break-md){
            display: block;
        }
    }
    &--mobile {
        @include breakpoint($break-md){
            display: none;
        }
    }

}

.top-infobar,
.bottom-infobar {

    height: auto;

    @include breakpoint($break-md) {
        height: 45px;
        line-height: 45px;

        .infobar__grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 45px;

            & .grid--text-left  {
                text-align: left;
            }
            & .grid--text-right {
                text-align: right;
            }
        }      
    }
    
} 