.site-content {
    padding-top: 16px;
    padding-bottom: 45px;

    @include breakpoint($break-xs) {
        padding-bottom: 80px;
        padding-top: 24px;
    }
    @include breakpoint($break-md) {
        padding-top: 62px;  
        padding-bottom: 125px;
    }
    
}