.top-infobar {

    background-color: #f8f8f8;
    text-align: center;
    padding: 35px 0;

    @include breakpoint($break-md) {
        text-align: left;
        background-color: $c-secondary;
        padding: 0;
    }
    
    /*
    Start currency selector
    */
    &__currency-selector {

        float: left;
        height: 45px;

        .v-input__label,
        .v-input__select-wrapper {
            display: inline-block;
            height: 45px;
            line-height: 45px;
            align-self: center;
        }
        .v-input__label {
            padding: 0;
        }
        .v-input__select-wrapper {
            background: transparent;
            border: medium none;
            font-weight: bold;
            font-size: 13px;
            height: auto;
            margin-left: 8px;
            
            .v-input__output {
                color: $c-infobar;
                height: auto;
                line-height: unset;
                padding-left: 0;
            }

            &::after {
                height: auto;
                line-height: unset;
            }
        }

    }
    /* 
    End currency selector
    */

    /*
    Start user section
    */
    &__user-section {

        display: inline-block;
        height: 45px;
        padding-right: 65px;

        .user-section__signup,
        .user-section__login,
        .user-section__profile {
            display: inline-block;
            padding: 0 12px;
            line-height: 45px;
        }
        .user-section__link {

            color: #999999;
            font-family: $f-primary;
            font-size: 13px;
            text-decoration: none;

            &:hover {
                color: $c-primary;
            }

        }   

    }
    /*
    End user section
    */

    /*
    Start mini basket
    */
    &__mini-basket {

        position: relative;
        display: inline-block;
        height: 45px;

        .mini-basket__link {
            position: relative;
            display: inline-block;
            height: 45px;
            line-height: 45px;
            padding: 0 20px;

            cursor: pointer;
            color: #fff;

            position: relative;
            background-color: $c-primary;

            .link__icon {
                padding-right: 16px;
            }
            .link__label {
                font-family: $f-primary;
                font-size: 13px;

                &::after {
                    content: '\f107';
                    font-family: $f-icons;
                    padding-left: 8px;
                }
            }
        }
        .mini-basket__dropdown {
            // display: none;
            position: absolute;
            right: 0; top: 45px;
            width: 400px;
            background: #fff;
            box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.35);
            z-index: 5000;

            .mini-basket {
                &__content {
                    width: 100%;
                    padding: 12px;
                }
                &__footer {
                    padding: 12px;
                    border-top: 1px solid #f1f1f1;
                    width: 100%;
                }
                &__line {
                    display: grid;
                    grid-template-columns: 50px auto 50px 75px;

                    .line {
                        &__image,
                        &__qty,
                        &__desc,
                        &__total {
                            align-self: center;
                        }
                        &__image {
                            text-align: left;
                            a {
                                display: grid;
                            }
                            img {
                                width: 38px;
                                height: 38px;
                                object-fit: cover;
                                align-self: center;
                            }
                        }
                        &__qty,
                        &__desc,
                        &__total {
                            font-family: $f-primary;
                            color: $c-secondary;
                            font-size: 13px;
                        }
                        &__qty {
                            text-align: center;
                        }
                        &__desc {
                            text-align: left;
                            line-height: 20px;
                        }
                        &__total {
                            font-weight: bold;
                        }
                    }

                }
            }
        }

    }
    /*
    End mini basket
    */
}