.bottom-infobar {

    padding: 10px 0;
    background-color: $c-secondary;

    @include breakpoint($break-md) {
        padding: 0;
    }

    .shop-content {
        display: block;

        @include breakpoint($break-md) {
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: auto;
        }

    }
    .infobar__section {
        display: block;
        float: left;
        width: 100%;

        @include breakpoint($break-md) {
            width: auto;
        }

        span {

            font-family: $f-primary;
            color: $c-infobar;
            font-size: 13px;
            font-weight: bold;

            display: block;
            float: left;
            width: 100%;
            padding: 3px 0;

            @include breakpoint($break-md) {
                display: inline-block;
                float: none;
                width: auto;
                padding: 0;
            }
        }

        &--right {
            text-align: left;
            @include breakpoint($break-md) {
                text-align: right;

                span {
                    padding-left: 34px;
                }
            }
        }
        &--left {
            text-align: left;
            
            span {
                padding-right: 34px;
            }
        }
    }

}