.product-details {
    &__wrapper {
        display: block;

        @include breakpoint($break-md) {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: 
                "images controls"
                "information information";
        }
    }
    &__images,
    &__page-controls,
    &__product-information {
        display: block;
        float: left;
        width: 100%;

        @include breakpoint($break-md) {
            width: auto;
            float: unset;
        }

    }
    &__images {

        position: relative;
        background: rgb(231, 231, 231);
        height: 600px;
        margin-bottom: 26px;

        @include breakpoint($break-md) {
            grid-area: images;
            margin-bottom: 0;
            height: auto;
        }

        .product-details__image-controls {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            z-index: 1000;
            justify-content: space-between;

            .image-controls__handle {
                align-self: center;
                height: 55px; width: 55px;
                text-align: center; line-height: 55px;
                cursor: pointer; transition: 300ms;
                font-family: $f-icons; font-size: 40px;

                color: #fff;
                background-color: $c-primary;

                @include breakpoint($break-md) {
                    color: $c-headlines;
                    background-color: transparent;
                    width: 45px;
                }

                &:hover {
                    color: #fff;
                    background-color: $c-primary;
                }
            }

        }

        .product-details__imageshow {
            &--native {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &--fallback {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

    }
    &__page-controls {

        @include breakpoint($break-md) {
            grid-area: controls;
        }

        .product {
            &__name {
                display: block;
                float: left;
                width: 100%;

                text-transform: uppercase;
                font-family: $f-primary;
                font-size: 18px;
                line-height: 23px;
                font-weight: lighter;
                color: $c-headlines;
                margin: 0 0 26px 0;
            }
            &__rating {

                display: block;
                float: left;
                width: 100%;
                line-height: 23px;

                .rating {
                    &__icon {
                        font-size: 16px;
                        color: #dfdfde;

                        &--filled {
                            color: #ded3aa;
                        }
                    }
                    &__reviews-count,
                    &__share .share__label,
                    &__add .add__label {
                        font-family: $f-primary;
                        font-size: 14px;
                        font-weight: bold;
                        color: $c-body;
                    }
                    &__reviews-count {

                        width: 100%;

                        @include breakpoint($break-md) {
                            width: auto;
                        }

                        padding-left: 13px;
                    }
                    &__add {

                        padding-left: 12px;
                        width: 50%;

                        @include breakpoint($break-md) {
                            padding-left: 0;
                            width: auto;
                        }

                        .add__label {
                            cursor: pointer;
                            color: $c-primary;
                        }
                    }
                    &__share {

                        width: 100%;
                        @include breakpoint($break-xs) {
                            width: auto;
                        }

                        .share {
                            &__label {
                                padding-right: 6px;
                            }
                            &__link {
                                display: inline-block;
                                font-size: 14px;
                                color: #8c8c8c;
                                width: 26px;
                                text-align: center;
                            }
                        }
                    }
                    &__section {

                        display: block;
                        float: left;

                        @include breakpoint($break-md) {

                            &:not(:last-of-type)::after {
                                content: '|';
                                padding: 0 16px;
                                font-family: $f-primary;
                                color: $c-body;
                                font-size: 14px;
                                cursor: initial;
                            }
                        }
                    }
                }
            }
            &__prices {

                display: block;
                float: left;
                width: 100%;
                padding: 25px 0 15px;

                .price__current {
                    font-size: 45px;    
                    width: 100%;

                    .price__currency {
                        top: 4px;
                        font-size: 15px;
                    }

                }
                .price__previous {
                    font-size: 21px;

                    .price__currency {
                        top: 0;
                        font-size: 11px;

                        @include breakpoint($break-xs) {
                            font-size: 15px;
                            top: 4px; 
                        }
                    }

                }
                .price__current,
                .price__previous {
                    position: relative;
                    display: block;
                    float: left;
                    font-family: $f-primary;
                    color: #9a9a9a;
                    margin: 0 19px 0 10px;
                    font-weight: lighter;

                    @include breakpoint($break-xs) {
                        width: auto;
                        display: inline-block;
                        font-size: 30px;
                    }
                }
                .price__currency {
                    position: absolute;
                    left: -11px;
                }
                .price__previous {
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%; height: 1px;
                        left: 0; top: 50%;
                        background: #9a9a9a;
                    }
                }
            }
            &__meta {

                display: block;
                float: left;
                width: 100%;
                padding: 12px 0;

                .product-meta__field {
                    display: block;
                    line-height: 29px;
                }
                .meta {
                    &__label {
                        font-family: $f-primary;
                        font-size: 13px;
                        color: $c-headlines;
                        text-transform: uppercase;
                        padding-right: 4px;
                    }
                    &__value,
                    &__tag {
                        font-family: $f-body;
                        font-size: 15px;
                    }
                    &__value {
                        color: #8c8c8c;
                    }
                    &__tag {
                        color: $c-primary;
                        text-decoration: none;
                        &:not(:last-of-type)::after {
                            content: ', '; 
                        }
                    }
                }
            }
            &__information {

                display: block;
                float: left;
                width: 100%;

                .product {
                    &__props,
                    &__short-description {
                        font-family: $f-body;
                        font-size: 15px;
                        color: #8e8c8c;
                    }
                    &__short-description {
                        margin: 8px 0;
                        line-height: 23px;
                    }
                    &__props {
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li {
                            position: relative;
                            padding-left: 15px;
                            line-height: 24px;

                            &::before {
                                position: absolute;
                                content: '\f111';
                                font-family: $f-icons;
                                color: #cccccc;
                                font-size: 3px;
                                left: 0; top: 0;
                            }
                        }
                    }
                }
            }
            &__configurator {

                display: block;
                float: left;
                width: 100%;

                padding: 12px 0 16px 0;
                display: block;

                @include breakpoint($break-xs) {
                    padding: 30px 0;
                    display: grid;
                    grid-gap: 4px;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                    grid-template-rows: auto;
                    grid-template-areas: "a a b b c c";
                }
                @include breakpoint($break-md) {
                    grid-gap: 10px;
                    grid-template-areas: "a a b b c .";
                }

                .configurator {
                    &__colour {
                        display: block;
                        width: 100%;

                        @include breakpoint($break-xs) {
                            width: auto;
                            grid-area: a;
                        }
                    }
                    &__size {
                        display: block;
                        width: 100%;

                        @include breakpoint($break-xs) {
                            width: auto;
                            grid-area: b;
                        }
                    }
                    &__qty {
                        display: block;
                        width: 100%;

                        @include breakpoint($break-xs) {
                            width: auto;
                            grid-area: c;
                        }
                    }
                }

                .v-input__instance {
                    margin-top: 6px;
                    @include breakpoint($break-xs) {
                        margin-top: auto;
                    }
                }

            }
            &__submission {

                display: block;
                float: left;
                width: 100%;

                padding: 10px 0 0;

                .btn {
                    width: 100%;
                    margin-top: 6px;
                }

                @include breakpoint($break-lg) {
                    display: grid;
                    grid-column-gap: 20px;
                    grid-template-columns: 0.85fr auto;

                    .btn {
                        width: auto;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
            &__compare {
                display: block;
                width: 100%;
                float: left;
                margin-top: 20px;

                .compare__btn {
                    line-height: 30px;
                    color: #454647;
                    text-transform: uppercase;

                    font-weight: bold;
                    font-family: $f-primary;
                    font-size: 14px;
                    padding: 0;
                    
                    border-radius: 0;
                    background: none;
                    border: medium none;
                    outline: none;

                    &::before {
                        content: '\f362';
                        font-family: $f-icons;
                        display: inline-block;
                        position: relative;
                        width: 30px; height: 30px;
                        color: #fff; background-color: #727272;
                        border-radius: 15px;
                        margin-right: 12px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    &__product-information {

        padding: 24px 0;

        @include breakpoint($break-md) {
            grid-area: information;
            padding: 38px 0 0;
        }

        .information {
            &__navigation {
                
            }
            &__tabs {

                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 40px;
                list-style: none;
                background-color: #f8f8f8;
                margin: 0; padding: 0;

                @include breakpoint($break-md) {
                    display: block; 
                    height: 50px;
                }

            }
            &__tab {

                display: inline-block;
                line-height: 40px;
                text-align: center;

                @include breakpoint($break-md) {
                    padding: 0 16px;
                    cursor: pointer;
                    line-height: 50px;
                    min-width: 170px;
                }

                .tab__label {

                    display: none;

                    font-family: $f-primary;
                    color: #575153;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;  

                    @include breakpoint($break-md) {
                        display: inline;
                    }

                }
                .tab__icon {
                    @include breakpoint($break-md) {
                        display: none;
                    }
                }
            }
            &__tab.active {

                background-color: #333;

                .tab__label,
                .tab__icon {
                    color: #fff;
                }
            }
            &__content {

                &--reviews {
                    .reviews {
                        &__add,
                        &__list {
                            width: 100%;
                            float: left;
                        }
                        &__add {
                            .v-form__header {
                                h2 {
                                    margin: 18px 0 12px;
                                }
                            }
                            .v-form__content {
                                @include breakpoint($break-md) {
                                    display: grid;
                                    grid-column-gap: 16px;
                                    grid-template-columns: 1fr 1fr;
                                    grid-template-areas: 
                                        "a b"
                                        "c b"
                                        "d b";

                                    .v-input__instance {
                                        &:nth-child(1) {
                                            grid-area: a;
                                        }
                                        &:nth-child(2) {
                                            grid-area: c;
                                        }
                                        &:nth-child(3) {
                                            grid-area: b;
                                        }
                                        &:nth-child(4) {
                                            grid-area: d;
                                        }
                                    }
                                }
                            }
                            .v-form__submit {
                                margin: 8px 0 0;
                                text-align: center;

                                .v-form__button {
                                    @include breakpoint($break-md) {
                                        width: auto;
                                    }
                                }

                            }
                        }
                        &__list {
                            margin-top: 28px;
                            
                            display: block;
                            width: 100%;

                            .review {
                                &__instance {
                                    display: block;
                                    width: 100%;
                                    float: left;
                                    padding: 19px 8px;
                                    border-radius: 5px;
                                    background-color: #fafafa;
                                    margin-bottom: 16px;

                                    @include breakpoint($break-md) {
                                        
                                        width: calc(50% - 16px);

                                        &:nth-child(2n+1) {
                                            margin-right: 16px;
                                        }

                                    }
                                    @include breakpoint($break-lg) {

                                        width: calc(33.322% - 11px);

                                        &:nth-child(2n+1) {
                                            margin-right: 0;
                                        }
                                        &:nth-child(3n+2) {
                                            margin: 0 16px;
                                        }

                                    }

                                }
                                &__header,
                                &__body {
                                    display: block;
                                    float: left;
                                    width: 100%;
                                }
                                &__title {
                                    margin: 0;
                                    font-family: $f-primary;
                                    font-size: 15px;
                                    font-weight: bold;
                                }
                                &__author {
                                    font-family: $f-primary;
                                    font-size: 14px;
                                    margin: 4px 0 4px 12px;
                                    display: inline-block;
                                    color: #6b6b6b;
                                }
                                &__aggregate {
                                    font-size: 12px;
                                    display: inline-block;

                                    i {
                                        color: #d8d8d8;  
                                    }

                                    &.aggregate {
                                        &--1 {
                                            i:nth-child(-n+1) {
                                                color: #ded3aa;
                                            }
                                        }
                                        &--2 {
                                            i:nth-child(-n+2) {
                                                color: #ded3aa;
                                            }
                                        }
                                        &--3 {
                                            i:nth-child(-n+1) {
                                                color: #ded3aa;
                                            }
                                        }
                                        &--4 {
                                            i:nth-child(-n+4) {
                                                color: #ded3aa;
                                            }
                                        }
                                        &--5 {
                                            i {
                                                color: #ded3aa;
                                            }
                                        }
                                    }
                                }
                                &__body {
                                    font-family: $f-body;
                                    font-size: 13px;
                                    line-height: 16px;
                                    color: $c-body;
                                }
                            }

                        }
                    }
                }
                &--content {
                    color: $c-body;

                    h1, h2, h3, h4, h5, h6 {
                        font-family: $f-primary;
                    }
                    h3 {
                        font-size: 16px;
                    }
                    p, ul, li {
                        font-family: $f-body;
                        font-size: 15px;
                        line-height: 23px;
                    }
                }

            }
        }
    }
}