.product-list__homepage  {
    padding-bottom: 50px;

    display: flex;
    flex-flow: row wrap;    
    width: 100%;

    .product__instance {
        width: 100%;
    }

    @include breakpoint($break-xxs){
        
        .product__instance {
            width: calc(50% - 8px);
            flex-basis: calc(50% - 8px);
            margin-bottom: 15px;

            &:nth-of-type(2n+1) {
                margin-right: 15px;
            }
        }

    }
    @include breakpoint($break-md) {
        .product__instance {
            width: calc(33.33332% - 14px);
            flex-basis: calc(33.33332% - 14px);
            margin-bottom: 20px;

            &:nth-of-type(2n+1) {
                margin-left: 0;
                margin-right: 0;
            }
            &:nth-of-type(3n+2) {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
    @include breakpoint($break-lg) {

        display: grid;

        border-bottom: 1px solid #eeeeee;
        width: 100%;
        max-width: 1350px;
        grid-template-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
        grid-template-rows: 250px 20px 250px 20px 250px 20px 250px 20px 250px;
        margin-bottom: 48px;

        .product__instance {

            width: auto;
            height: auto;
            margin: 0 !important;
            
            &:nth-child(1) {
                grid-column: 1 / 4;
                grid-row: 1 / 6;
            }
            &:nth-child(2) {
                grid-column: 5 / 6;
                grid-row: 1 / 4;
            }
            &:nth-child(3) {
                grid-column: 7 / 8;
                grid-row: 1 / 4;
            }
            &:nth-child(4) {
                grid-row: 7 / 10;
                grid-column: 1 / 2;
            }
            &:nth-child(5) {
                grid-row: 7 / 10;
                grid-column: 3 / 4;
            }
            &:nth-child(6) {
                grid-row: 5 / 10;
                grid-column: 5 / 8;
            }
        }


    }
    @include breakpoint($break-hd) {
        width: 100%;
        max-width: 1800px;
    }
}
.product-list__sorting.sorting--homepage {
    display: none;
    @include breakpoint($break-md) {
        display: block;
    }
}
.frontpage__lookbook {
    
    @include breakpoint($break-md) {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 450px;
    }
    @include breakpoint($break-lg) {
        grid-gap: 30px;
    }

    .lookbook {
        &__instance {

            background: #f8f8f8;
            margin-bottom: 16px;

        }
        &__image  {
            position: relative;
            display: none;

            @include breakpoint($break-hd) {
                display: block;
                float: left;
                width: 35%;
                height: 100%;
                padding: 0 0 0 16px;
            }

            &-fix {
                display: block;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: contain;
            }

        }
        &__content {

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 26px;

            @include breakpoint($break-md) {
                height: 100%;
            }
            @include breakpoint($break-hd) {
                width: 65%;
            } 
            
        }
        &__desc,
        &__headline,
        &__action {
            display: block;
            width: 100%;
        }
        &__headline {
            font-family: $f-primary;
            font-size: 48px;
            line-height: 54px;
            color: $c-headlines;
            margin: 0 0 25px;
        }
        &__desc {
            font-family: $f-body;
            font-size: 15px;
            color: $c-body;
            line-height: 22px;
            margin-top: 0;
        }
    }

}