.advanced-select {

    .as--native {

        height: 30px;
        display: inline-block;

        .native__label {

            position: relative;

            &, & > select {
                height: 30px;
                line-height: 30px;
                display: inline-block;
            }
            & > select {
                position: relative;

                margin-left: 10px;
                padding: 0 20px 0 6px;
                min-width: 70px;

                appearance: none;
                border: medium none;
                border-radius: 0;
                background: transparent;

                z-index: 10;
                font-weight: bold;

                &::-ms-expand {
                    display: none;
                }

                &:focus {
                    outline: 0;
                }
            }
            &::after {
                content: '\f107';
                position: absolute;
                height: 30px; line-height: 30px;
                color: black;
                font-family: $f-icons;
                right: 6px;
                top: 0;
                font-size: 12px;
            }

        }
    }
    .as--dynamic {

        position: relative;
        display: inline-block;
        height: 30px;

        .dynamic__label,
        .dynamic__select {
            display: inline-block;
            height: 30px;
            line-height: 30px;
        }

        .dynamic__label {

        }
        .dynamic__select {
            
            position: relative;

            .dynamic__link {    

                position: relative;
                display: inline-block;
                width: 100%;
                height: 30px;
                line-height: 30px;

                padding: 0 25px 0 6px;
                min-width: 70px;
                
                cursor: pointer;

                &::after {
                    content: '\f107';
                    position: absolute;
                    height: 30px; line-height: 30px;
                    color: black;
                    font-family: $f-icons;
                    right: 6px;
                    top: 0;
                    font-size: 12px;
                }

            }

            .dynamic__dropdown {
                position: absolute;
                top: 33px;
                min-width: 150px;
                left: 6px;

                line-height: unset;

                border-radius: 4px;
                overflow: hidden;
                
                display: block;

                background-color: #f6f6f6;

                & span {
                    position: relative;
                    display: block;
                    float: left;
                    width: 100%;
                    text-align: left;
                    cursor: pointer;

                    padding: 3px 6px;

                    border-bottom: 1px solid #f1f1f1;

                    &:last-of-type {
                        border-bottom: medium none;
                    }

                    &.active {
                        background-color: #5e5d5d;
                        color: #fff;
                    }
                }
                
            }

        }
    }
}