.currency-selector {

    position: relative;

    .selector__label,
    .selector__option-list {
        display: inline-block;
        position: relative;
        font-weight: 600;
        font-size: $fs-small;
        color: $c-infobar;
        
        @include breakpoint($break-md) {
            height: 45px;
            line-height: 45px;
        }
    }

    .selector__label {
        z-index: 1;
    }

    .selector__option-list {
    
        z-index: 3;
    
        padding-right: 20px;
        border: medium none;
        appearance: none;
        background: transparent;
        
        @include breakpoint($break-md) {
            height: 45px;
            line-height: 45px;
        }
    }

    &::after {
        content: '\f107';
        position: absolute;

        font-family: $f-icons;
        font-weight: 900;
        color: $c-infobar;
        width: 10px;
        overflow: hidden;

        z-index: 2;
        right: 0;
        
        @include breakpoint($break-md) {
            line-height: 45px;
            height: 45px;           
        }
    }
}