
/*
Pseudo checkboxes
*/
span.checkbox {
    position: relative;
    display: inline-block;
    padding-left: 38px;

    input[type="checkbox"] {
        display: none;
    }
    input[type=checkbox]:checked + label::before {
        content: '\f00c';
    }
    label {

        font-size: 15px;
        font-family: $f-body;
        color: #8e8c8c;

        height: 26px;
        line-height: 26px;

        &, &::before {
            cursor: pointer;
        }

        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0; top: 0px;
            
            font-family: $f-icons;
            font-size: 12px;
            text-align: center;

            width: 24px;
            height: 24px;
            background-color: #fff;
            border: 1px solid #e7e7e7;
        }

    }
}

input, select {

    padding: 0 14px;

    color: #797878;
    background-color: #fff;
    font-family: $f-primary;
    font-size: 15px;
    line-height: 40px;
    height: 40px;

    border: 1px solid #e7e7e7;
    border-radius: 0;

    &::placeholder {
        color: #989898;
    }
    
}

label {

    display: block;
    float: left;

    & > span:first-of-type {
        display: block;
        box-sizing: content-box;
        padding: 6px 0 15px;
        height: 13px;

        font-family: $f-primary;
        text-transform: uppercase;
        font-weight: bold;
        color: #575153;
        font-size: 13px;
    }
    & > span.selectbox {

        display: block;
        height: 40px;
        position: relative;
        border: 1px solid #e7e7e7;

        &::after {
            content: '\f107';

            position: absolute;
            display: block;

            width: 24px; height: 40px;
            top: 0; right: 0;   

            line-height: 40px;
            font-family: $f-icons;
            color: rgb(151, 151, 151);
        }

        select {
            position: relative;

            z-index: 10;

            appearance: none;
            cursor: pointer;
            border: medium none;
            background: transparent;

            padding-right: 32px;

            option {

                &:disabled {
                    color: rgb(209, 209, 209);
                }

            }
        }

    }
}