body, html {
    margin: 0;
    font-size: 14px;
    font-size: 1em;

    & * {
        box-sizing: border-box;
    }
}

/*
Container
*/
.shop-content {

    position: relative;
    margin: 0 auto;

    width: 100%;
    padding: 0 14px;

    @include breakpoint($break-lg){
        width: 1200px;
        padding: 0;
    }
}

/*
Application
*/

.application {
    display: grid;
    grid-template-rows: auto 50px auto auto auto auto;
    grid-template-columns: 100%;

    & > .top-infobar {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }    
    & > .mobile-navigation {
        position: relative;
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }   
    & > .site-navigation {
        display: none;
        grid-column: 1 / span 1;
    } 
    & > .site-header {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }  
    & > .site-content {
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;
    }
    & > .site-footer {
        grid-row: 5 / span 1;
        grid-column: 1 / span 1;
    }
    & > .bottom-infobar {
        grid-row: 6 / span 1;
        grid-column: 1 / span 1;
    }

    @include breakpoint($break-md) {
        grid-template-rows: 45px 111px auto auto 589px 45px;

        & > .top-infobar {
            display: block;
            grid-row: 1 / span 1;
        }       
        & > .mobile-navigation {
            display: none;
        }
        & > .site-navigation {
            display: block;
            grid-row: 2 / span 1;
        } 
        & > .site-header {
            grid-row: 3 / span 1;
        }  
        & > .site-content {
            grid-row: 4 / span 1;
        }
        & > .site-footer {
            grid-row: 5 / span 1;
        }
        & > .bottom-infobar {
            grid-row: 6 / span 1;
        }
    }
}