body, html {
    margin: 0;
    font-size: 14px;
    font-size: 1em;

    & * {
        box-sizing: border-box;
    }
}

/*
Container
*/
.shop-content {

    position: relative;
    margin: 0 auto;

    width: 100%;
    padding: 0 14px;

    @include breakpoint($break-lg){
        width: 1200px;
        padding: 0;
    }
}

/*
Application
*/

.application {
    display: grid;
    grid-template-rows: auto 50px auto auto auto auto;
    grid-template-columns: 100%;
    grid-gap: 0;
    grid-template-areas: 
        "tinf"
        "nav"
        "head"
        "main"
        "foot"
        "binf";

    & > .top-infobar {
        grid-area: tinf;
    }    
    & > .mobile-navigation {
        position: relative;
        grid-area: nav;
    }   
    & > .site-navigation {
        display: none;
    } 
    & > .site-header {
        grid-area: head;
    }  
    & > .site-content {
        grid-area: main;
    }
    & > .site-footer {
        grid-area: foot;
    }
    & > .site-infobar {
        grid-area: binf;
    }

    @include breakpoint($break-md) {
        grid-template-rows: 45px 111px auto auto 589px 45px;
        grid-template-areas: 
            "tinf"
            "nav"
            "head"
            "main"
            "foot"
            "binf";

        & > .top-infobar {
            display: block;
            grid-area: tinf;
        }       
        & > .mobile-navigation {
            display: none;
            grid-area: unset;
        }
        & > .site-navigation {
            display: block;
            grid-area: nav;
        } 
        & > .site-header {
            grid-area: head;
        }  
        & > .site-content {
            grid-area: main;
        }
        & > .site-footer {
            grid-area: foot;
        }
        & > .site-infobar {
            grid-area: binf;
        }
    }
}